################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/KAIFA_Api/v17
/.vs/Lion.MISL/v17
/.vs/Publish
/bin
/obj
/.vs
/.config
